html {
	background: var(--global-color-neutral-200);
	font-size: $base-font-size;
}

body {
	font: #{$base-font-size}/#{$base-line-height} $font-stack-alpha;
	color: var(--global-color-theme-900);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2 {
	font-weight: 700;
}

h1 {
	font-size: rem(54px);
}

h2 {
	font-size: rem(36px);
}

h3 {
	font-size: rem(24px);
}

p {
	font-size: $base-font-size;
}

::selection {
	background: var(--global-color-theme-100);
}

@keyframes fadeInCard {
	from {
		transform: translateY(rem(10px));
		opacity: 0;
	}

	to {
		transform: translateY(rem(0px));
		opacity: 1;
	}
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 65, 87, 0.5);
	}
	50% {
		box-shadow: 0 0 0 12px rgba(0, 65, 87, 0);
	}

	100% {
		box-shadow: 0 0 0 12px rgba(0, 65, 87, 0);
	}
}

@keyframes bounce-animation {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(1.1);
	}
	60% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}
